@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.landing-page {
  background: url("/WakuWaku/image/Burger.png") center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

nav {
  margin: 0px 70px;
  display: flex;
  justify-content: space-between;
}
.nav-three {
  margin: auto 50px;
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
}
.acc {
  margin: auto 20px;
  text-align: center;
  text-decoration: none;
  border: 2px white solid;
  border-radius: 10px;
  font-size: 16px;
  width: 110px;
  height: 45px;
}
.nav-btn {
  display: flex;
}
.signup {
  color: white;
  background-color: transparent;
}
.login {
  color: #000000;
  background-color: #ffffff;
}
.acc:hover {
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.signup:hover {
  color: #000000;
  background-color: #ffffff;
}
.login:hover {
  color: white;
  background-color: transparent;
}
.heading {
  margin: 200px 0px 0px 70px;
}
h1 {
  color: #fafafa;
  font-family: "Shantell sans", cursive;
  font-size: 100px;
  font-weight: 400;
}

.order_btn {
  font-size: 22px;
  padding: 18px 26px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #ffae00;
  margin-top: 30px;
  font-weight: 600;
  letter-spacing: 1px;
}
.order_btn:hover {
  background-color: rgb(255, 174, 0, 0.6);
  cursor: pointer;
  transition: 0.5s ease-in-out;
  border: 1px solid rgb(255, 174, 0, 0.3);
}
